body {
    background-color: #000000;
    overflow: hidden;
}

.app-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#graph-container { 
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

